// regexp("(?:https:\/\/)(?:.+[.])(?:teamdynamix.com\/TDNext\/Apps\/Projects\/Plans\/CardWall\/).*")

@import "variables";

.navbar-default {
  background-color: $color-shade-dark !important;
  border-color: $color-shade-darkest !important;

  & .navbar-brand {
    color: $base-font-color !important;
  }
}

a.label,
a.badge,
.label a,
.badge a {
  color: $base-font-color !important;
}

.tdy-list {
  & > .panel {
    background-color: $color-shade-dark !important;
    border-color: $color-shade-darkest !important;

    & > .panel-heading {
      background-color: $color-shade-darkest !important;
      border-color: $color-shade-dark !important;

      & h4 {
        color: $base-font-color !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        font-size: 0.9em !important;
        line-height: 1.2em !important;
        letter-spacing: 0.1em !important;
        word-spacing: 0.1em !important;
      }
    }
  }
}

div.profile-image.board,
div.profile-image.board img {
  border-radius: 50% !important;
}
.panel-default > .panel-heading {
  border-color: $color-shade-light !important;
  background-color: $base-font-color !important;
}
