// regexp("(?:https:\/\/)(?:.+[.])(?:teamdynamix.com\/TDNext\/)(?!Apps).*")

@import "variables";

.nav > li > a {
  &:hover {
    background-color: $color-shade-light !important;
  }
}

.tdbar {
  .btn {
    background-color: transparent !important;

    &:hover {
      background-color: $color-shade-light !important;
      text-decoration: none !important;
    }
  }
}

.tdbar-settings {
  .btn {
    &:hover {
      background-color: transparent !important;
      text-decoration: none !important;
    }
  }
}

.sortable-item .nav > li > a,
#upItemCounts .nav > li > a {
  &:hover {
    background-color: transparent !important;
  }
}

.navbar a,
.navbar button,
.navbar button span,
.navbar .btn,
.navbar .btn-primary,
#divHeader h1,
.thTicket_spnTitle,
#upItemCounts .nav,
.organization-link a,
.tdbar button,
.tdbar button span,
.fa {
  color: $base-font-color !important;
}

.feed-item,
.sortable-iitem,
.report-viewer,
.ui-tabs-active .ui-tabs-anchor,
.sortable-item .font-md {
  color: $color-shade-light !important;
}

#divHeader,
#divTabHeader,
#tabs,
#tabsList,
.dropdown-menu {
  background-color: $color-shade-dark !important;
  border-color: $color-shade-darkest !important;
}

.ui-tabs-nav li,
.ui-tabs-nav li a,
.nav-tabs li,
.nav-tabs li a {
  border: none !important;
}

.panel {
  border-color: $color-shade-mid !important;
}

.ModuleContent {
  background-color: $base-font-color !important;
  color: $color-shade-darkest !important;

  a {
    .fa,
    &:link,
    &:visited,
    &:active {
      color: $color-shade-mid !important;
    }

    &:hover {
      color: $base-link-color-hover !important;
    }
  }

  .nav-pills,
  .nav-tabs {
    li {
      &:hover, {
        color: $base-link-color-hover !important;
      }
    }
  }
}

.sortable-item,
.feed-item {
  border-bottom: 1px solid $color-highlight !important;
}

.feed-reply {
  background-color: lighten($base-font-color, 10%) !important;
  border-color: $base-link-color !important;
}

.profile-image,
.profile-image img {
  border-radius: 50% !important;
  height: 60px !important;
  object-fit: cover !important;
  width: 60px !important;
}

.panel-heading {
  background-color: $color-shade-darkest !important;
  border-color: $color-shade-dark !important;
  color: $base-font-color !important;
}
