// regexp("https:\\/\\/(.+[.])teamdynamix.com\\/.*")

$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-base: #404552;
$color-highlight: #949494;

$color-shade-darkest: #1d2027;
$color-shade-dark: #2a2f39;
$color-shade-mid: #454c5c;
$color-shade-light: #6b6f79;
$color-shade-lightest: #858991;

$base-font-color: #d3dae3;
$base-link-color: #90939b;
$base-link-color-hover: #d26911;

body {
  font-family: $system-font-stack !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background-color: $color-shade-mid !important;
  color: $base-font-color !important;
}

a,
a:link,
a:visited,
a:active {
    color: $base-link-color !important;
}
a:hover {
    color: $base-link-color-hover !important;
}
