// regexp("(?:https:\/\/)(?:.+[.])(?:teamdynamix.com\/).*")

@import "variables";

body {
  font-family: $system-font-stack !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background-color: $color-shade-mid !important;
  color: $base-font-color !important;
}

a,
a:link,
a:active,
a:visited {
  color: $base-link-color !important;
}
a:hover {
   color: $base-link-color-hover !important;
}
